<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Connect" 
         connectionString="Data Source=192.168.1.9,1433; 
         Network Library=DBMSSOCN; 
         Inital Catalog=TobChat; User ID=sa; Password=rootdata;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>